#campuses, #majors, #terms {
  max-width: -webkit-fill-available;
}

#prompt-content {
  display: block;
  color: navy;
  font-size: 1.4em;
}

/* Mobile-only style */
@media only screen and (max-width: 600px) {
  .login {
    width: 90%;
    margin-top: 5vh;
  }
  .login-title {
    width: 100%;
  }
  .login-form {
    width: 90%;
    height: 30px;
  }
}
